@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

p {
  padding: 0 15px;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background-color: rgb(18, 18, 187); */
}

.card {
  padding: 0 10px;
}

.restaurant-name {
  display: inline;
  font-size: 2rem;
  font-variant: small-caps;
}

.restaurant-address {
  font-size: 1rem;
}

.cuisine {
  color: grey;
  font-size: .75rem;
}

.url {
  font-style: italic;
}

.image-container {
  height: 100px;
  width: 100%;
}

image {
  object-fit: cover;
}
