@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.list-view {
  font-size: 2rem;
}

nav {
  display: inline;
  font-size: 1rem;
}

.title {
  color: white;
  margin: 25px 0 25px 0;
  text-align: center;
  font-size: 2.5rem;
}

.btn-large {
  border-radius: 5%;
  width: 75%;
  margin: 25px auto;
  display: block;
  text-align: center;
  font-size: 2rem;

}

.light-blue {
  border: 1px solid black;
}
