@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}


nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(18, 18, 187);
}

.card {
  padding: 0 10px;
}

.restaurant-name {
  display: inline;
  font-size: 2rem;
  font-variant: small-caps;
}

.restaurant-address {
  font-size: 1.25rem;
}

.cuisine {
  color: grey;
  font-size: .75rem;
}

.url {
  font-style: italic;
  
}
